<h2>Sign up</h2>

<%= f_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :nickname %>

  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <%= f.file_field :avatar %>

  <%= f.submit "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
