.row
  .col-md-6.col-md-offset-3
    %h2 Add stock
    = f_form_for @stock do |f|
      = render 'stocks/errors'
      = f.fields_for :stock_entries do |se_field|
        .row
          .col-sm-3
            = image_tag se_field.object.product.avatar
          .col-sm-9
            = se_field.hidden_field :product_id
            = se_field.number_field :count, skip_label: true
      = f.submit "Insert stock", class: 'btn btn-primary'
