<div class="card">
  <div class="card-content">
    <h1 class="title is-size-5">Settings</h1>

    <div class="sidebar-settings">
      <a class="button is-primary is-light" href="<%= dagschotel_edit_user_path(@user) %>">
        <% if !@user.dagschotel %>
        Set Dagschotel
        <% else %>
        Change Dagschotel
        <% end %>
      </a>

      <hr />

      <!-- Hide on koelkast -->
      <div>
        <%= f_form_for @user do |f| %>
          <%=
            f.check_box :private,
            label: "Hide on koelkast",
            help: "Orders can be placed on koelkast for every public account. Private accounts can only order products by logging in here.",
            switch: true,
            submit: true
          %>
        <% end %>
      </div>

      <hr />

      <!-- Hide dagschotel on koelkast -->
      <div>
        <%= f_form_for @user do |f| %>
          <%=
            f.check_box :quickpay_hidden,
            label: "Hide dagschotel",
            help: "Do not display your dagschotel next to your avatar on koelkast.",
            switch: true,
            submit: true
          %>
        <% end %>
      </div>
    </div>

    <hr />
    <!-- Display the API key -->
    <div>
      <h2 class="label">API key</h2>
      
      <button class="button is-secondary is-light" popovertarget="my-popover">Show API key</button>

      <div popover id="my-popover"><pre class="field"><code><%= @user.userkey %></code></pre></div>

      <%= button_to 'Reset key', reset_key_user_path(@user), { method: 'post', class: 'button is-primary is-light' } %>
    </div>
  </div>
</div>
