<div class="col-md-3">
  <div class="thumbnail monopoly">
    <h3 class="header" style="background-color: #<%= get_color(user)%>;" ><%= link_to user.full_name, user %></h3>
    <div class="caption">
      <%= image_tag(user.avatar , class: "img-circle avatar") %>
      <p><strong>Name:</strong> <%= user.name %></p>
      <p><strong>Last name:</strong> <%= user.last_name %></p>
      <p><strong>Nickname:</strong> <%= user.nickname %></p>
      <p><strong>Debt:</strong> <%= euro(user.debt) %></p>
    </div>
    <% if current_user.admin? %>
      <div class="footer">
        <p>
          <%= link_to "Delete", user_path(user), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
        </p>

      </div>
    <% end %>
  </div>
</div>
