<h2>Edit <%= @user.nickname %></h2>
<%= render 'flash' %>

<%= f_form_for @user do |f| %>
  <%= f.error_messages %>

  <%= image_tag @user.avatar(:large), class: "img-thumbnail img-responsive" %>
  <%= f.file_field :avatar %>
  <p>
    If you check this option, nobody will be able to order stuff for you through koelkast.
    Only on your account things can be ordered.
  <p>
  <%= f.check_box :private %>

  <%= f.submit "Update" %>
<% end %>
