<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>Name: <%= @user.name %></h1>
      <h1>Last name: <%= @user.last_name %></h1>
      <h1>Nickname: <%= @user.nickname %></h1>
      <h1>Balance: <%= @user.balance %></h1>
      <h1>User id: <%= @user.id %></h1>

    </section>
  </aside>

  <div class="col-md-8">
    <% if @user.orders.any? %>
      <h3>Orders (<%= @user.orders.count %>)</h3>
      <ol class="orders">
        <%= render @orders %>
      </ol>
      <%= will_paginate @orders %>
    <% end %>
  </div>
</div>
