<div class="columns is-multiline">
  <!-- Sidebar -->
  <div class="column is-12-mobile is-5-tablet is-4-desktop is-3-widescreen">
    <%= render "sidebar" %>
  </div>

  <!-- Content -->
  <div class="column is-12-mobile is-7-tablet is-8-desktop is-9-widescreen">
    <!-- Statistics -->
    <%= render "stats_cards" %>
    
    <% if @user.last_ordered_products.any? %>
      <!-- Quick orders -->
      <%= render "quick_order" %>
    <% end %>

    <!-- Orders -->
    <%= render "orders" %>

    <!-- Order statistics -->
    <%= render "stats_orders" %>
  </div>
</div>
