.pure-u-1-3
  .card-box.avatar
    %h1= @user.name
    = image_tag @user.avatar(:large)
  .pure-g
    .pure-u-1-2
      .card-box.fact
        %h3= @user.orders_count
        Orders placed
    .pure-u-1-2
      .card-box.fact
        %h3= euro @user.balance
        Balance
  .card-box
    .pure-g
      .pure-u-1-2
        Order here
  .card-box
    %h3 Notify me!
    .input-group
      = fa_icon 'slack'
      %input{ placeholder: 'Username' }
      = fa_icon 'floppy-o'
.pure-u-2-3
  .card-box.text-center
    %h2 Contributions (to the zeus kassa)
    - hash = Hash[@user.orders.group_by(&:day).map{ |k,v| [k.strftime('%Y-%m-%d'), v.count] }]
    = react_component 'CalendarGraph', { data: hash }
  .card-box
    - Date.today.step (Date.today - 6.days), -1 do |day|
      .orders-overview
        .date
          %span.day= day.strftime('%d')
          %span.month= day.strftime('%B')
        .orders-thumbnails
          = render @orders[day] || []
