<%= render partial: 'flash' %>
<div class="row">
  <div class="user_info">
    <h2>
      <%= @user.full_name %> - <%= @user.nickname %>
      <%= link_to "edit" , edit_user_registration_path %>
    </h2>
    <h4>Balance: <%= euro(@user.balance) %></h4>
  </div>

  <% if @user.orders.any? %>
    <div>
      <h3>Orders (<%= @user.orders.count %>)</h3>
      <ol class="orders">
        <% @orders.each do |k,v| %>
          <%= render 'orders/order', order: v.first, products: v %>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
