<h2>Add avatar to <%= @user.uid %></h2>
<%= render 'flash' %>

<%= f_form_for @user, url: url_for(controller: 'user_avatar', action: 'create'), method: :post do |f| %>
  <%= f.error_messages %>

  <!-- To prevent an empty form submit from crashing -->
  <%= f.hidden_field :generate_form, value: '1' %>

  <%= f.file_field :avatar %>

  <%= f.submit "Update" %>
<% end %>
