<div class="columns is-multiline" data-controller="order" data-order-products-value="hallo">
  <!-- Select Product -->
  <div class="column">
    <div class="order-new-actions">
      <!-- Title -->
      <div class="order-new-actions-title">
        <% if current_user.koelkast %>
          <div class="back is-size-5">
            <%= link_to "Go back", root_path %>
          </div>
          Place an order for <%= @user.name %>
        <% else %>
          Place an order
        <% end %>
      </div>

      <!-- Barcode Field (for Koelkast) -->
      <% if current_user.koelkast %>
        <%= form_tag nil do %>
          <input
            class="order-new-actions-barcode input is-large"
            placeholder="Scan a barcode"
            autofocus="true"
            autocomplete="off"
          />
        <% end %>

        <div class="order-new-actions-or">
          - OR -
        </div>
      <% end %>

      <!-- Product Select -->
      <button class="button is-primary is-large">
        <%= icon('fas', 'list', class: "mr-3") %> Select product
      </button>


      <!-- Barcode Scanner (for users) -->
      <% if !current_user.koelkast %>
        <div class="order-new-actions-or">
          - OR -
        </div>

        <div>
          <button class="button is-primary is-large">
            <%= icon('fas', 'camera', class: "mr-3") %> Scan barcode
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Bill -->
  <div class="column is-12 is-7-tablet is-4-desktop">
    <%= f_form_for [@user, @order] do |f| %>
      <div class="order-new-bill">
        <!-- Logo -->
        <div class="order-new-bill-logo is-hidden-mobile">
          <%= image_tag "logo.png", alt: "Logo", class: "theme-blend" %>
        </div>

        <!-- Title -->
        <h1 class="order-new-bill-title is-hidden-desktop">
          Your order
        </h1>

        <!-- Errors -->
        <%= f.error_messages %>

        <!-- Overview -->
        <div class="order-new-bill-overview">
          <hr />

          <!-- Items -->
          <table class="order-new-bill-items">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Product</th>
                <th class="has-text-right">Price</th>
              </tr>
            </thead>

            <%= f.fields_for :order_items do |ff| %>
              <tr class="order-new-bill-item">
                <td>
                  <%= ff.hidden_field :product_id %>
                  <%= ff.number_field :count, skip_label: true, class: "order-new-bill-input input is-small" %>
                </td>

                <td>
                  <%= ff.object.product.name %>
                </td>

                <td class="has-text-right">
                  <%= euro_from_cents(ff.object.product.price_cents * ff.object.count) %>
                </td>
              </tr>
            <% end %>
          </table>

          <!-- Placeholder -->
          <div class="order-new-bill-placeholder">
            No products selected yet.
          </div>

          <hr />

          <!-- Total -->
          <div class="order-new-bill-overview-total">
            <strong>Total:</strong>
            <span>
              <%= euro_from_cents(0) %>
            </span>
          </div>
        </div>

        <!-- Actions -->
        <%= f.submit "Place order", class: "button is-primary is-fullwidth", data: { disable_with: "Please wait..." } %>
      </div>
    <% end %>
  </div>

  <%= render "products_modal" %>
  <%= render "barcode_modal" %>
</div>
