<h3>Order for <%= @user.nickname %></h3>

<div class="row">
  <%= form_for @order, url: user_orders_path(@user) do |f| %>
    <%= render 'application/errors', model: @order %>

    <div class="col-md-12">
      <%= f.fields_for :order_products do |op_field| %>
        <%= render 'order_products/form_row', f: op_field %>
    <% end %>
    </div>

    <div class="col-md-3 form_total">
      <%= render 'order_products/total_price', f: f %>
    </div>

<% end %>
</div>
