<h3>Order for <%= @user.nickname %> (<%= euro(@user.balance) %>)</h3>

<div class="row">
  <%= form_for @order, builder: FormattedFormBuilder, url: user_orders_path(@user) do |f| %>
    <%= f.error_messages %>

    <div class="col-md-12">
      <%= f.fields_for :order_products do |op_field| %>
        <%= render op_field.object, f: op_field, product: op_field.object.product %>
      <% end %>
    </div>

    <%= render 'order_products/total_price', f: f %>
  <% end %>
</div>
