<div class="columns is-multiline">
  <!-- Select Product -->
  <div class="column">
    <div class="order-new-actions">
      <!-- Title -->
      <div class="order-new-actions-title">

        <!-- Back button -->
        <% if current_user.koelkast %>
          <div class="back is-size-5">
            <%= link_to "Go back", root_path %>
          </div>
        <% end %>

        <!-- Title -->
        <% if current_user.koelkast %>
          Place an order for <%= @user.name %>
        <% else %>
          Place an order
        <% end %>
      </div>

      <!-- Barcode Field (for Koelkast) -->
      <% if current_user.koelkast %>
        <%= form_tag new_add_user_orders_path(@user) do |f| %>
          <input
            class="order-new-actions-barcode input is-large"
            name="barcode"
            placeholder="Scan a barcode"
            autofocus="true"
            autocomplete="off"
          />
        <% end %>

        <div class="order-new-actions-or">
          - OR -
        </div>
      <% end %>

      <!-- Product Select -->
      <a class="button is-primary is-large" href="#modalOrderProducts">
        <%= icon('fas', 'list', class: "mr-3") %> Select product
      </a>


      <!-- Barcode Scanner (for users) -->
      <% if !current_user.koelkast %>
        <div class="order-new-actions-or" v-cloak>
          - OR -
        </div>

        <div>
          <a class="button is-primary is-large" href="#modalOrderScanner" v-cloak>
            <%= icon('fas', 'camera', class: "mr-3") %> Scan barcode
          </a>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Bill -->
  <div class="column is-12 is-7-tablet is-5-desktop is-4-widescreen">
    <%= render partial: "form" %>
  </div>
</div>

<%= render "order_products_modal" %>
<%= render "order_scanner_modal" %>
