<div class="col-md-3 form_products">
  <div class="thumbnail<%= ' out-of-stock' if product.stock.zero? %>">
    <div class="form_row center">
      <div class="form_row_image">
        <%= image_tag product.avatar %>
      </div>
      <div class="caption">
        <h6>
          <%= kcal_tag product.calories %>
        </h6>
        <h4 class="text-nowrap">
        <%= content_tag :span, product.name %>
        <%= content_tag :small, euro(product.price) %>
        </h4>
        <%= f.counter :count, min: 0, max: product.stock, skip_label: true, wrapper_class: "input-group", class: "row_counter", data: { price: f.object.product.price_cents } %>
        <%= f.fields_for :product do |product| %>
        <% end %>
      </div>
    </div>
  </div>
</div>
