<div v-scope="StockController({ currentStock: <%= @product.stock %> })" v-cloak>
  <%= f_form_for @product do |f| %>
    <!-- Header -->
    <div class="columns is-multiline is-justify-content-space-between">
      <!-- Title -->
      <div class="column is-narrow">
        <h1 class="subtitle">Add to stock</h1>
      </div>
    </div>

    <!--
    Hidden stock value

    This is used to update the stock value when the user adds new stock.
    It will receive the value of the sum.
    -->
    <div class="is-hidden">
      <%= f.number_field :stock, ":value": "newStock" %>
    </div>

    <!-- Current stock field -->
    <div class="field">
      <label class="label">Current Stock</label>
      <div class="control">
        <input class="input" type="number" value="<%= @product.stock %>" readonly disabled>
      </div>
    </div>

    <!-- Purchased field -->
    <div class="field">
      <label class="label">Purchased</label>
      <div class="control">
        <input class="input" v-model="purchasedStock" type="number" min="0" />
      </div>
    </div>

    <hr />

    <!-- Total -->
    <div class="columns">
      <!-- New Stock -->
      <div class="column">
        <strong>New Stock:</strong>

        <span class="has-text-success">
          {{ newStock }}
        </span>
      </div>

      <!-- Submit -->
      <div class="column">
        <%= f.submit "Add to stock" %>
      </div>
    </div>
  <% end %>
</div>

<script>
function StockController(props) {
  return {
    /**
     * Current Stock
     */
    currentStock: props.currentStock,

    /**
     * Purchased stock
     */
    purchasedStock: 0,

    /**
     * New stock (current stock + purchased stock)
     */
    get newStock() {
      return this.currentStock + this.purchasedStock;
    }
  }
}
</script>
