<div class="row">
  <div class="col-md-6 col-md-offset-3 sign-in">
    <%= form_for @product, builder: FormattedFormBuilder, html: { multipart: true } do |f| %>
      <%= f.error_messages %>

      <%= f.text_field :name %>
      <%= f.price_field :price %>
      <%= f.collection_select :category, Product.categories.keys %>
      <%= f.number_field :stock %>
      <%= f.file_field :avatar %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
