<div class="col-md-3">
  <div class="thumbnail pic">
    <div class="form_row_image">
      <%= image_tag product.avatar %>
    </div>
    <div class="caption">
      <h6>
        <% if product.calories != nil %>
          <%= product.calories %> kcal
        <% else %>
          &nbsp;
        <% end %>
      </h6>
      <h4><%= product.name %></h4>
      <h3><%= euro(product.price) %></h3>
      <h6>(In stock: <%= product.stock %>)</h6>
      <%= render 'products/links', product: product %>
    </div>
  </div>
</div>
