.col-md-3
  .thumbnail.pic
    .form_row_image
      = image_tag product.avatar
    .caption
      = kcal_tag product.calories
      %h4= product.name
      %h3= euro(product.price)
      %h6
        (In stock: #{product.stock})
      = render 'products/links', product: product
