.col-md-3
  .thumbnail.pic.dagschotel-edit
    = image_tag product.avatar, class: "dagschotel-edit-image img-responsive"
    .caption
      = kcal_tag product.calories
      %h4= product.name
      %h3= euro(product.price)
      %h6
        (In stock: #{product.stock})
      = render 'products/links', product: product
