<% details = details || false %>
<% actions = actions || [] %>
<% search = search || false %>
<% compact = compact || false %>
<% compact_mobile = compact_mobile || false %>

<% product_wrapper_class = "column #{compact ? 'is-12 py-1' : ' is-4-tablet is-3-desktop is-2-widescreen'} #{compact_mobile ? 'is-12-mobile py-1-mobile' : ''}" %>
<% product_class = "products-item #{compact ? 'is-compact' : ''} #{compact_mobile ? 'is-compact-mobile' : ''}"  %>
<% product_render = render "products/product_content",
  details: details,
  actions: actions,
  product: product,
  compact: compact,
  compact_mobile: compact_mobile
%>


<div class="<%= product_wrapper_class %>" data-product-category="<%= product.category %>" id="product">
  <!--
  Use when linking a new barcode to a specific product
  -->
  <% if actions.include? "barcode:link" %>
    <%=
      button_to product_barcodes_path(product),
      class: product_class,
      data: { product: product.id, dismiss: :modal },
      params: { "barcode[code]" => params[:barcode][:code] } do %>
        <%= product_render %>
    <% end %>

  <!--
  Use within the product select modal on the order page
  -->
  <% elsif actions.include? "order:add" %>
    <button class="<%= product_class %>" data-order-product-increment="<%= product.id %>" data-modal-close="productsModal">
      <%= product_render %>
    </button>

  <!--
  Use in all other places
  -->
  <% else %>
    <div class="<%= product_class %> products-item--not-clickable">
      <%= product_render %>
    </div>
  <% end %>
</div>
