<h1>Product edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@product) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>
</br>
      <%= f.label :purchase_price %> 
      <%= f.number_field :purchase_price %> 
</br>
      <%= f.label :sale_price %> 
      <%= f.number_field :sale_price %> 
</br>
      <%= f.label :image_path %> 
      <%= f.text_field :image_path %> 


      
</br>
      <%= f.submit "Update product", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>