<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag do %>
      <% @products.each do |product| %>
        <%= fields_for "products[]", product do |form| %>
          <%= image_tag product.avatar %>
          <%= form.number_field :stock_inc, value: 0, class: 'form-control' %>
        <% end %>
      <% end %>

      <%= submit_tag "Insert stock", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
