<div class="col-md-3 form_products">
  <div class="thumbnail ">
    <div class="form_row center">
      <%= image_tag f.object.product.avatar %>
      <div class="caption">
        <h3><%= f.object.product.name %> - <%= content_tag :span, euro(f.object.product.price), class: "price" %></h3>
        <p>
          <div class="input-group">
            <%= render 'btn_dec', id: f.object.product_id %>
            <%= f.text_field :count, class: 'form-control row_counter', value: 0 %>
            <%= f.hidden_field :price, value: f.object.product.price, class: :price %>
            <%= render 'btn_inc', id: f.object.product_id %>
            <%= f.hidden_field :product_id %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
