<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Taþ", root_path, class: "navbar-brand nav-logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <% unless current_user && current_user.koelkast? %>
      <div class="collapse navbar-collapse">
        <div class="hidden-xs navbar-form navbar-right">
          <div class="form-group">
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, class: "btn btn-default form-control",  method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-success form-control" %>
          <% end %>
          </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><%= mail_to "tab@zeus.ugent.be", "Send feedback" %></li>
          <% if user_signed_in? %>
            <% if can? :manage, :all %>
              <li>
              <%= link_to "Place order", orders_path %>
              </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List", products_path %></li>
                <li><%= link_to "Add product" , new_product_path %></li>
                <li><%= link_to "Add stock", stock_products_path %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Users <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "List" , users_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Download schulden', admins_schulden_path(format: :csv) %></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= current_user.nickname %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit avatar", edit_user_path(current_user) %></li>
              </ul>
            </li>
          <% end %>
        </ul>

        <div class="visible-xs navbar-form">
          <div class="form-group">
          <% if user_signed_in? %>
            <%= button_to "Logout", destroy_user_session_path, class: "btn btn-default form-control",  method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-success form-control" %>
          <% end %>
          </div>
        </div>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
