!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %title Tap - Zeus WPI
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :javascript
      window.base_url = "#{request.base_url}"
  %body
    .pure-g
      .pure-u-1
        #flash
          = flash_messages
    #content
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
