<!DOCTYPE html>
<html>
  <head>
    <title>Taþ - Zeus WPIs drinking and billing system</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <% if current_user && current_user.koelkast? %>
    <body oncontextmenu="return false">
  <% else %>
    <body>
  <% end %>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="container" >
          <%= yield %>
      </div>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
